/Logs/
/Scripts/obj/
/Server/obj/
/Application/obj/
/Server.Tests/obj/
/obj

*.user
*.suo
*.vs
*.dll
*.obj
*.exe
*.pdb
*deps.json
*runtimeconfig*json
/.idea


# Binaries folder
/bin/*.dll
/bin/*.exe
/bin/Logs/
/bin/Backups
/bin/Saves
/bin/Muls
/bin/Scripts
/bin/runtimes
/bin/publish
/bin/linux-arm


/Publish/*

# Exclude files
!/bin/zlib32.dll
!/bin/zlib64.dll
!/bin/zlib.dll
