/Logs/
/Scripts/obj/
/Server/obj/
/Application/obj/
/Server.Tests/obj/
/obj
/bin

*.user
*.suo
*.vs
*.dll
*.obj
*.exe
*.pdb
*deps.json
*runtimeconfig*json
/.idea


# Binaries folder
/Binaries/*.dll
/Binaries/*.exe
/Binaries/Logs/
/Binaries/Backups
/Binaries/Saves
/Binaries/Muls
/Binaries/Scripts
/Binaries/runtimes
/Binaries/publish
/Binaries/linux-arm


/Publish/*

# Exclude files
!/Binaries/zlib32.dll
!/Binaries/zlib64.dll
!/Binaries/zlib.dll
